#shapka
{
	height : 300px;
	border : 1px solid black;
	background-color: rgb(32,103,138);
}
.my_background
{
	border : 1px solid black;
	background-color: rgb(32,103,138);
}
#welcome 
{
 font-size : 90px;
 font-family: "Times New Roman", Times, serif;	
}
.myfont
{
	font-size : 40px;
	font-family: "Times New Roman", Times, serif;
}
#sign
{
 font-size : 65px;
 font-family: "Times New Roman", Times, serif;
}
#sign_div
{
	height : 1000px;
	background-color: rgb(168,177,182);
}
.alig-center
{
	text-align: center;
}
.myborder
{
	border : 1px black solid;
}
.menu
{
	border : 1px black solid;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
	 font-size : 40px;
     font-family: "Times New Roman", Times, serif;
     color : #262626;
     
     width: 280px;
}
#add_friend_input
{
	height : 50px;
	width : 70%;
}
.avatars
{
	height : 200px;
	width : 200px; 
	float : left;
}
.user_page
{
	text-align: center;
}
.main_avatar
{
	height : 400px;
	width : 400px; 
}
.msg_avatar
{
	height : 90px;
	width : 90px; 
}
.about_friends
{
	font-size : 40px;
    font-family: "Times New Roman", Times, serif; 
}
.joker
{
	padding: 15px;
}
